body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
nav a{
    margin-top: 20px;
    margin-left: 100px;
    display: inline-block;
    padding: 0.5rem 3rem;
    background-color: #f10d0d;
    color: #333;
    text-decoration: none;
    text-align: center;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
}

nav a:hover{
    background-color: #333;
    color:  #f10d0d;
}

